body{
	background-image: url('img/books.jpg');
}
.container{
	background-color: white;
	/* color: white; */
	padding: 0;
	padding-bottom: 50px;
}
/* ___Header_____________________________________________ */
header{
	height: 20%;
	text-align: center;
}
header h1{
	font-family: 'Pacifico', cursive;
	font-size: 5em;
}
#myCarousel img{
	width: 100%;
}
.carousel-caption{
	padding-bottom: 0;
}
/* ____Main area________________________________________*/
.col img{
	height: 200px;
	float: left;
	margin-bottom: 10px;
}
.text{
	float: left;
	margin-left: 10px;
}
.row{
	padding: 10px;
}
input{
	width: 100%;
}
h3{
	margin-left: 10px;
}
/* ___Footer__________________________________________*/

footer{
	height: 40px;
	width: 100%;
	text-align: center;
	position: fixed;
	bottom: 0px;
}

/* little break for the title, to prevent the jumping out of screan */
@media (max-width: 460px) {
	header h1{
		font-family: 'Pacifico', cursive;
		font-size: 3em;
		margin-bottom: 0;
	}
}
